In [1]:
!pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.2.0)

In [2]:
import sklearn

print("scikit-learn version:", sklearn.__version__)

scikit-learn version: 1.3.0

In [3]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [4]:
!kaggle datasets download -d ebrahimhaquebhatti/pakistan-house-price-prediction

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
pakistan-house-price-prediction.zip: Skipping, found more recently modified local copy (use --force to force download)

In [5]:
import zipfile
zip_ref = zipfile.ZipFile('/content/pakistan-house-price-prediction.zip', 'r')
zip_ref.extractall('/content')
zip_ref.close()

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [7]:
data=pd.read_csv("Entities.csv")

In [8]:
data.isnull().sum()

Unnamed: 0           0
property_id          0
location_id          0
page_url             0
property_type        0
price                0
location             0
city                 0
province_name        0
latitude             0
longitude            0
baths                0
purpose              0
bedrooms             0
date_added           0
agency           44071
agent            44072
Total_Area           0
dtype: int64

In [9]:
data.shape

(168446, 18)

In [10]:
data.head()

,Unnamed: 0,property_id,location_id,page_url,property_type,price,location,city,province_name,latitude,longitude,baths,purpose,bedrooms,date_added,agency,agent,Total_Area
0,0,237062,3325,https://www.zameen.com/Property/g_10_g_10_2_gr...,Flat,10000000,G-10,Islamabad,Islamabad Capital,33.679890,73.012640,2,For Sale,2,2/4/2019,NaN,NaN,1089.004
1,1,346905,3236,https://www.zameen.com/Property/e_11_2_service...,Flat,6900000,E-11,Islamabad,Islamabad Capital,33.700993,72.971492,3,For Sale,3,5/4/2019,NaN,NaN,15246.056
2,2,386513,764,https://www.zameen.com/Property/islamabad_g_15...,House,16500000,G-15,Islamabad,Islamabad Capital,33.631486,72.926559,6,For Sale,5,7/17/2019,NaN,NaN,2178.008
3,3,656161,340,https://www.zameen.com/Property/islamabad_bani...,House,43500000,Bani Gala,Islamabad,Islamabad Capital,33.707573,73.151199,4,For Sale,4,4/5/2019,NaN,NaN,10890.000
4,4,841645,3226,https://www.zameen.com/Property/dha_valley_dha...,House,7000000,DHA Defence,Islamabad,Islamabad Capital,33.492591,73.301339,3,For Sale,3,7/10/2019,Easy Property,Muhammad Junaid Ceo Muhammad Shahid Director,2178.008

In [11]:
columns_to_drop = ['Unnamed: 0','property_id','location_id','page_url','date_added','agent','agency','latitude','longitude','province_name']
data = data.drop(columns=columns_to_drop)

In [12]:
data.head()

,property_type,price,location,city,baths,purpose,bedrooms,Total_Area
0,Flat,10000000,G-10,Islamabad,2,For Sale,2,1089.004
1,Flat,6900000,E-11,Islamabad,3,For Sale,3,15246.056
2,House,16500000,G-15,Islamabad,6,For Sale,5,2178.008
3,House,43500000,Bani Gala,Islamabad,4,For Sale,4,10890.000
4,House,7000000,DHA Defence,Islamabad,3,For Sale,3,2178.008

In [13]:
status_counts = data['purpose'].value_counts()

print("Counts of properties for sale and for rent:")
print(status_counts)

Counts of properties for sale and for rent:
For Sale    120655
For Rent     47791
Name: purpose, dtype: int64

In [14]:
data.isnull().sum()

property_type    0
price            0
location         0
city             0
baths            0
purpose          0
bedrooms         0
Total_Area       0
dtype: int64

In [15]:
data.shape

(168446, 8)

In [16]:
data.head()

,property_type,price,location,city,baths,purpose,bedrooms,Total_Area
0,Flat,10000000,G-10,Islamabad,2,For Sale,2,1089.004
1,Flat,6900000,E-11,Islamabad,3,For Sale,3,15246.056
2,House,16500000,G-15,Islamabad,6,For Sale,5,2178.008
3,House,43500000,Bani Gala,Islamabad,4,For Sale,4,10890.000
4,House,7000000,DHA Defence,Islamabad,3,For Sale,3,2178.008

In [17]:
data['Total_Area'].unique()

array([1.0890040e+03, 1.5246056e+04, 2.1780080e+03, 1.0890000e+04,
       8.7120000e+04, 5.4450000e+03, 1.6879562e+04, 1.9329821e+04,
       2.1235578e+04, 2.4502500e+05, 2.7225100e+03, 8.4397810e+03,
       4.0837650e+03, 3.8115140e+03, 1.3612550e+03, 3.2670000e+04,
       2.2869084e+04, 1.2795797e+04, 3.2670120e+03, 1.1706793e+04,
       4.8460678e+04, 1.8240817e+04, 1.4429303e+04, 1.1434500e+05,
       1.3612500e+05, 6.5340000e+04, 3.6209383e+04, 1.3068000e+05,
       4.3560160e+03, 2.5319343e+04, 2.4502590e+03, 2.9947610e+03,
       2.0418825e+04, 4.9005180e+03, 8.1675300e+02, 3.5392500e+05,
       6.8062750e+03, 4.3560000e+04, 5.9895000e+04, 1.6335060e+03,
       2.5591500e+05, 2.6408347e+04, 1.9057570e+03, 1.0345538e+04,
       1.4973805e+04, 8.1675000e+04, 6.5340240e+03, 1.1979044e+04,
       5.9895220e+03, 2.1780000e+04, 2.4230339e+04, 8.7120320e+03,
       2.6136096e+04, 2.6680598e+04, 2.7769602e+04, 3.1036614e+04,
       3.5664881e+04, 1.3068048e+04, 2.0691076e+04, 1.4701554e+04,
       3.6481634e+04, 3.5937132e+04, 1.4157052e+04, 3.5392630e+03,
       1.6607311e+04, 2.4774841e+04, 3.1308865e+04, 2.9675359e+04,
       1.0073287e+04, 1.1434542e+04, 1.5790558e+04, 7.0785000e+04,
       2.7497351e+04, 4.6282670e+03, 5.4450200e+02, 2.2324582e+04,
       5.4450000e+04, 3.1853367e+04, 2.9130857e+04, 1.6335000e+04,
       2.8858606e+04, 3.0492112e+04, 2.6136000e+05, 9.2565000e+04,
       1.8785319e+04, 1.7968566e+04, 7.8952790e+03, 3.0219861e+04,
       9.8010360e+03, 1.1162291e+04, 4.4649164e+04, 2.3958000e+05,
       2.7225000e+04, 7.6230000e+04, 4.3015658e+04, 3.3214622e+04,
       2.8041853e+04, 9.5287500e+05, 1.3884801e+04, 2.3958088e+04,
       9.2565340e+03, 4.9549682e+04, 3.2125618e+04, 8.9842830e+03,
       1.3340299e+04, 3.7026136e+04, 5.4450200e+03, 4.0020897e+04,
       1.2523500e+05, 5.0094184e+04, 1.9874323e+04, 2.2052331e+04,
       7.6230280e+03, 9.8010000e+04, 3.4031375e+04, 5.1727690e+03,
       3.1581116e+04, 2.0691000e+05, 1.9602000e+05, 3.8659642e+04,
       3.3759124e+04, 2.7225100e+02, 1.1979000e+05, 1.7424064e+04,
       1.5518307e+04, 1.4701500e+05, 1.0617789e+04, 9.5287850e+03,
       1.0345500e+05, 7.3507770e+03, 1.7696315e+04, 4.1382152e+04,
       1.6062809e+04, 2.3685837e+04, 5.1999941e+04, 2.8314104e+04,
       4.3287909e+04, 1.7151813e+04, 3.7570638e+04, 2.3413586e+04,
       1.2251295e+04, 4.1654403e+04, 7.0785260e+03, 1.8513068e+04,
       2.2596833e+04, 4.7099423e+04, 2.3413500e+05, 2.9403108e+04,
       4.5738168e+04, 2.1507829e+04, 1.2523546e+04, 3.7298387e+04,
       3.4303626e+04, 2.5047092e+04, 3.6753885e+04, 3.8115000e+04,
       1.9602072e+04, 2.8586355e+04, 4.2471156e+04, 2.3141335e+04,
       2.0146574e+04, 1.0890000e+05, 3.2942371e+04, 5.0910937e+04,
       2.5863845e+04, 4.4104662e+04, 2.5591594e+04, 5.7172710e+03,
       4.1109901e+04, 1.4157000e+05, 1.7424000e+05, 3.4848128e+04,
       1.7968500e+05, 4.1926654e+04, 3.8931893e+04, 4.9277431e+04,
       3.9204144e+04, 4.8188427e+04, 4.2198905e+04, 6.2617730e+03,
       5.4450000e+05, 4.6827172e+04, 1.8513000e+05, 3.3486873e+04,
       3.1581000e+05, 2.6952849e+04, 1.9057500e+05, 4.0293148e+04,
       2.2651200e+06, 5.2272192e+04, 3.9748646e+04, 4.4376913e+04,
       3.0764363e+04, 4.5193666e+04, 4.7643925e+04, 2.0963327e+04,
       4.5465917e+04, 4.6554921e+04, 2.1780000e+05, 4.7916176e+04,
       4.6010419e+04, 3.4575877e+04, 5.0638686e+04, 4.0837500e+05,
       3.4848000e+05, 3.4031250e+06, 2.9403000e+05, 3.5120379e+04,
       4.9821933e+04, 5.3905698e+04, 1.5246000e+05, 5.1183188e+04,
       3.7842889e+04, 3.9476395e+04, 2.8314000e+05, 3.9204000e+05,
       1.6335000e+05, 5.2816500e+05, 1.8131850e+06, 3.2397869e+04,
       4.9005000e+04, 5.3633447e+04, 2.2869000e+05, 4.2471000e+05,
       7.8952500e+05, 4.7371674e+04, 4.7371500e+05, 6.8062500e+05,
       0.0000000e+00, 2.7225000e+06, 3.8387391e+04, 1.5790500e+05,
       4.2743407e+04, 4.4921415e+04, 3.3759000e+05, 5.3088945e+04,
       2.9947500e+05, 4.1382000e+05, 2.7225000e+05, 5.3361196e+04,
       1.6879500e+05, 9.1476000e+05, 4.9005000e+05, 5.2816694e+04,
       4.7916000e+05, 7.8408000e+05, 4.6282500e+05, 5.1455439e+04,
       2.5047000e+05, 2.1235500e+05, 4.0565399e+04, 2.2324500e+05,
       4.8732929e+04, 5.0366435e+04, 3.3214500e+05, 5.7172500e+05,
       5.2272000e+05, 3.2670000e+06, 5.2544443e+04, 4.4104500e+05,
       1.6335000e+06, 3.9748500e+05, 5.4177949e+04, 1.0454400e+06,
       1.3884750e+06, 1.0563300e+06, 6.0984000e+05, 3.0492000e+05,
       2.4230250e+07, 3.4902450e+06, 1.1597850e+06, 3.8659500e+05,
       2.0146500e+05, 5.1183000e+05, 3.3595650e+06, 4.6827000e+05,
       5.1727500e+05, 2.4502500e+07, 3.5392500e+06, 2.5863750e+06,
       3.5937000e+05, 4.0293000e+05, 1.7696250e+06, 1.2795750e+06,
       1.2251250e+07, 5.4450000e+06, 9.3773790e+07, 6.2671950e+06,
       1.5681600e+06, 2.1398850e+06, 2.7769500e+05, 4.9549500e+05,
       4.3560000e+05, 3.3879879e+08, 4.3560000e+06, 3.2125500e+05])

In [18]:
data['Total_Area'].dtype

dtype('float64')

In [19]:
data['property_type'].unique()

array(['Flat', 'House', 'Penthouse', 'Farm House', 'Lower Portion',
       'Upper Portion', 'Room'], dtype=object)

In [20]:
data.head()

,property_type,price,location,city,baths,purpose,bedrooms,Total_Area
0,Flat,10000000,G-10,Islamabad,2,For Sale,2,1089.004
1,Flat,6900000,E-11,Islamabad,3,For Sale,3,15246.056
2,House,16500000,G-15,Islamabad,6,For Sale,5,2178.008
3,House,43500000,Bani Gala,Islamabad,4,For Sale,4,10890.000
4,House,7000000,DHA Defence,Islamabad,3,For Sale,3,2178.008

In [21]:
column_name =[ 'property_type','location','city']

In [22]:
import nltk
from nltk.stem import PorterStemmer
nltk.download('punkt')
stemmer = PorterStemmer()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [23]:
data['property_type'] = data['property_type'].str.lower()
data['location'] = data['location'].str.lower()
data['city'] = data['city'].str.lower()

In [24]:
data['property_type'] = data['property_type'].apply(lambda x: ' '.join([stemmer.stem(word) for word in nltk.word_tokenize(x)]))
data['location'] = data['location'].apply(lambda x: ' '.join([stemmer.stem(word) for word in nltk.word_tokenize(x)]))
data['city'] = data['city'].apply(lambda x: ' '.join([stemmer.stem(word) for word in nltk.word_tokenize(x)]))

In [25]:
data.head()

,property_type,price,location,city,baths,purpose,bedrooms,Total_Area
0,flat,10000000,g-10,islamabad,2,For Sale,2,1089.004
1,flat,6900000,e-11,islamabad,3,For Sale,3,15246.056
2,hous,16500000,g-15,islamabad,6,For Sale,5,2178.008
3,hous,43500000,bani gala,islamabad,4,For Sale,4,10890.000
4,hous,7000000,dha defenc,islamabad,3,For Sale,3,2178.008

In [26]:
data.tail()

,property_type,price,location,city,baths,purpose,bedrooms,Total_Area
168441,hous,26500000,gadap town,karachi,0,For Sale,6,26136.096
168442,hous,12500000,gadap town,karachi,0,For Sale,3,2178.008
168443,hous,27000000,gadap town,karachi,0,For Sale,6,26136.096
168444,hous,11000000,gadap town,karachi,0,For Sale,3,21235.578
168445,hous,9000000,bahria town karachi,karachi,3,For Sale,3,25591.594

In [27]:
data['purpose'].unique()

array(['For Sale', 'For Rent'], dtype=object)

In [28]:
# Separate data for sale and for rent
sale_data = data[data['purpose'] == 'For Sale']
rent_data = data[data['purpose'] == 'For Rent']

In [29]:
sale_data.shape

(120655, 8)

In [30]:
rent_data.shape

(47791, 8)

In [31]:
# Define features and target variables
features = ['property_type', 'location', 'city','baths', 'bedrooms', 'Total_Area']
target = ['price']

In [32]:
# Separate features and target for sale and rent data
X_sale = sale_data[features]
y_sale = sale_data[target]
X_rent = rent_data[features]
y_rent = rent_data[target]

In [33]:
X_rent.shape

(47791, 6)

In [34]:
X_sale.shape

(120655, 6)

In [35]:
categorical_features = ['property_type', 'location', 'city']
numeric_features = ['baths', 'bedrooms', 'Total_Area']

In [36]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
# Define preprocessing steps
numeric_transformer = StandardScaler()
categorical_transformer = OneHotEncoder(handle_unknown='ignore')

In [37]:
from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

In [38]:
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
# Combine preprocessing and modeling steps into a pipeline
sale_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', RandomForestRegressor(n_estimators=100, random_state=100))
])
rent_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', RandomForestRegressor(n_estimators=100, random_state=100))
])

In [39]:
# Split sales data into training and testing sets
from sklearn.model_selection import train_test_split
X_sale_train, X_sale_test, y_sale_train, y_sale_test = train_test_split(X_sale, y_sale, test_size=0.3, random_state=100)

In [40]:
# Split rent data into training and testing sets
from sklearn.model_selection import train_test_split
X_rent_train, X_rent_test, y_rent_train, y_rent_test = train_test_split(X_rent, y_rent, test_size=0.3, random_state=100)

In [41]:
X_sale_train.shape

(84458, 6)

In [42]:
X_sale_test.shape

(36197, 6)

In [44]:
sale_pipeline.fit(X_sale_train, y_sale_train)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  ['baths', 'bedrooms',
                                                   'Total_Area']),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['property_type', 'location',
                                                   'city'])])),
                ('model', RandomForestRegressor(random_state=100))])

In [45]:
import joblib
joblib.dump(sale_pipeline, 'trained_sales_data.pkl')

['trained_sales_data.pkl']

In [46]:
# Predict salaries for the test set
y_pred = sale_pipeline.predict(X_sale_test)

In [47]:
# Print the R-squared score (Coefficient of Determination)
print(f'R-squared score of sales data: {sale_pipeline.score(X_sale_test, y_sale_test):.2f}')

R-squared score of sales data: 0.77

In [68]:
sale_pipeline.fit(X_rent_train, y_rent_train)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  ['baths', 'bedrooms',
                                                   'Total_Area']),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['property_type', 'location',
                                                   'city'])])),
                ('model', RandomForestRegressor(random_state=100))])

In [69]:
import joblib
joblib.dump(sale_pipeline, 'trained_rent_data.pkl')

['trained_rent_data.pkl']

In [70]:
# Predict salaries for the test set
y_pred = sale_pipeline.predict(X_rent_test)

In [71]:
# Print the R-squared score (Coefficient of Determination)
print(f'R-squared score of rent data: {rent_pipeline.score(X_rent_test, y_rent_test):.2f}')

R-squared score of rent data: 0.53

In [61]:
# Load trained models
sale_model = joblib.load('/content/trained_sales_data.pkl')
rent_model = joblib.load('/content/trained_rent_data.pkl')

In [78]:
# User interaction
choice = input("Choose one of these:  'for sale' or 'for rent': ")
selected_model = sale_model if choice == 'for sale' else rent_model

Choose one of these:  'for sale' or 'for rent': for rent

In [84]:
# Input features
property_type = input("Enter property type: ")
city = input("Enter city: ")
location = input("Enter location: ")
baths = float(input("Enter number of baths: "))
bedrooms = float(input("Enter number of bedrooms: "))
total_area=float(input("Enter total area: "))

Enter property type: flat
Enter city: islamabad
Enter location: shamsabad
Enter number of baths: 2
Enter number of bedrooms: 2
Enter total area: 1000

In [85]:
stemmed_property_type= ' '.join([stemmer.stem(word) for word in nltk.word_tokenize(property_type)]).lower()
stemmed_city_type= ' '.join([stemmer.stem(word) for word in nltk.word_tokenize(city)]).lower()
stemmed_location_type= ' '.join([stemmer.stem(word) for word in nltk.word_tokenize(location)]).lower()

In [86]:
# Preprocess input
input_data = pd.DataFrame({
    'property_type': [stemmed_property_type],
    'baths': [baths],
    'bedrooms': [bedrooms],
    'location': [stemmed_location_type],
    'city': [stemmed_city_type],
    'Total_Area':[total_area]
})

In [87]:
# Make prediction
prediction = selected_model.predict(input_data)

In [94]:
# Display prediction
print(f"Predicted house price: {prediction[0]:.2f} Rs")

Predicted house price: 15783.87 Rs